body {
    font-family: 'Noto Sans TC';
    font-size: 20px;
}

*::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    /*background-color: #F5F5F5;*/
}

*::-webkit-scrollbar-track {
    /*    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;*/

    -webkit-appearance: none;
    width: 7px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #a39e9e;
}

.layout_center {
    display: flex;
    justify-content: center;
}

.narbar {
    width: 100%;
    /*height:200px;*/
}

.inline_line>* {
    display: inline-block;
}

.obj_insert,
.obj_setting {
    width: 15%;
    min-width: 100px;
    height: 800px;

    border: 2px solid black;
    margin: 15px 0;
    padding: 20px;
}

.view {
    width: 800px;
    height: 800px;
    border: 2px solid black;

    margin: 15px 10px;
}

.obj_setting {
    overflow-y: scroll;
}

.page {
    position: relative;
}

.page_setting {
    width: 100%;
    height: auto;

    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

#page_select {
    width: 40%;
    height: 40px;

    margin-right: 10px;
}

.page_all_num {
    margin: 0px 5px;
}

.page_setting_btn img,
.page_insert_btn img {
    width: 100%;
    height: 100%;
}

.page_setting_btn {
    width: 40px;
    height: 40px;

    background-color: transparent;

    border-radius: 20px;

    border: 0;
    padding: 0;
    margin: 0px 7px;
}

.page_setting_btn:hover,
.page_insert_btn:hover {
    background-color: #CCCCCC;
}

.page_insert_btn {
    width: 70px;
    height: 70px;

    background-color: transparent;

    border: 0;
    padding: 0;
    margin: 10px 7px;
}

.object {
    height: 100px;
    width: 150px;
    padding: 10px;

    position: absolute !important;
}

.pic {
    padding: 0;
}

.object_focus {
    border: 1px dashed black;
    outline: none;
}

.object * {
    outline: none;
}

.object>.ui-resizable-sw,
.object>.ui-resizable-se,
.object>.ui-resizable-nw,
.object>.ui-resizable-ne {
    width: 0px;
    height: 0px;
}

.object_focus>.ui-resizable-sw,
.object_focus>.ui-resizable-se,
.object_focus>.ui-resizable-nw,
.object_focus>.ui-resizable-ne {
    width: 10px;
    height: 10px;
    background: url(../assets/image/resize_point.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.object>.rotate_btn {
    display: none;
}

/*.object_focus>.rotate_btn {
    display: block;
    font-size: 10px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}*/

.ui-resizable-se {
    right: -5px;
    bottom: -5px;
}

.select_div {
    position: relative;
    /*width: 80%;*/
}

.select_input,
.edit_div {
    height: 40px;
    border: 1px #000 solid;
    padding-left: 5px;
    white-space: nowrap;
}

[contenteditable="true"].edit_div {
    white-space: nowrap;
    overflow: hidden;
}

[contenteditable="true"].edit_div br {
    display: none;
}

.select_ul {
    position: absolute;
    top: 40px;
    left: 0;

    height: 200px;
    width: 100%;
    overflow: auto;
    border: 1px #000 solid;

    list-style-type: none;
    padding: 0;
    margin: 0;

    background-color: #fff;
}

.select_ul li:hover {
    background-color: #dadada;
}

.view *::selection {
    background: #525252;
    color: white;
}

.view *::-moz-selection {
    /* Code for Firefox */
    background: #525252;
    color: white;
}

.input_picker {
    width: 100%;
}

.select_font_size .select_input {
    width: calc(100% - 90px);
}

.z-index {
    z-index: 1;
}

.setting_btn_sm {
    height: 40px;
    width: 40px;
    background-color: #414141;
    border: 0;
    color: white;
}

.setting_btn_sm:hover {
    background-color: #7d7a7a;
}

.btn_img_sm img {
    padding: 2px;
    width: 100%;
    height: 100%;
}

.btn_img_sm {
    height: 50px;
    width: 50px;

    background-color: transparent;
    border: 2px solid black;
    margin-right: 5px;
}

.img_sm {
    height: 20px;
    width: 20px;
    padding: 1px;
}

.btn_img_sm:hover {
    background-color: #bfb8b8;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

.inside_btn {
    height: 40px;
    border: 0;
    background-color: #d2d4c9;
}

.inside_btn:hover {
    background-color: #a7a8a2;
}

.two_element span {
    width: 10%;
}

.two_element div {
    width: 35%;
}

.two_element button {
    width: 49%;
}

@media (max-width: 1500px) {
    .two_element button {
        width: 100%;
    }
}